body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: black;
}

h1 {
  text-align: center;
  color: white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: white;
}

input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e9e6e6;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

input[type="submit"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
}

th,
td {
  border: 1px solid #f4efef;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #444;
}

tr:nth-child(even) td {
  background-color: #333;
}

tr:hover td {
  background-color: #555;
}

.success {
  color: #28a745;
  font-weight: bold;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons form {
  display: inline-block;
  margin-right: 10px;
}

.buttons input[type="submit"] {
  width: auto;
  padding: 10px 20px;
}
